<footer class="footer pb-4 pt-3 mt-5 bg-primary">
  <div class="container">
    <div class="row">
      <section class="col-md-6">
        <h4 class="mb-3 text-light">Contact Me:</h4>
        <p id="email" class="text-light">Email: <a class="text-light" href="mailto:nicok.martinez@gmail.com">nicok.martinez@gmail.com</a></p>
      </section>

      <section class="col-md-6">
        <form action="https://github.com/Nick7878">
          <h4 class="mb-3 text-light">Check out my projects on Github:</h4>
          <button type="submit" class="btn btn-success">Github</button>
        </form>
      </section>
    </div>
  </div>
</footer>
