<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-brand">Nick's Portfolio</div>

    <ul class="navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active-link" class="nav-link text-light">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link" class="nav-link text-light">Projects</a></li>
      <li><a routerLink="/biography" routerLinkActive="active-link" class="nav-link text-light">Biography</a></li>
    </ul>
  </nav>
</header>
