<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="col-md-7 mt-4 align-self-center">
      <h1 class="display-3">My Projects</h1>
      <br>
      <p class="lead">Below you will see some of the projects I have completed. Some of these were school projects, while others were
        projects that I worked on in my own time. If you would like to view these projects more in depth, please use
        my Github link at the bottom of the page. More projects are on the way!</p>
    </section>
  </div>
</div>
<article class="container-fluid align-self-center">
  <section class="row mt-4 justify-content-center">
    <header class="col-md-5">
      <h4>Tic-Tac-Toe</h4>
      <figure>
        <picture>
          <source srcset="assets/tic_tac_toe.png" media="(min-width: 500px)">
          <img src="assets/tic_tac_toe_300x200.png" class="mt-3">
        </picture>
        <p class="mt-3">
          A simple game of Tic-Tac-Toe made for two players in Java using the Swing framework. This application was built using the MVC design pattern.
          View the code <a href="https://github.com/Nick7878/TicTacToe">here!</a>
        </p>
      </figure>
    </header>

    <header class="col-md-5">
      <h4>Appointment Book Application</h4>
      <figure>
        <picture>
          <source srcset="assets/appointment_book.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/appointment_book_300x200.png">
        </picture>
        <p class="mt-3">
          I created an appointment book application using Java and the Swing Framework to make taking
          appointments much easier for salon workers. This application was also built using the MVC design pattern.
          View the code <a href="https://github.com/Nick7878/AppointmentBook">here!</a>
        </p>
      </figure>
    </header>
  </section>

  <hr>

  <section class="row mt-4 justify-content-center">
    <header class="col-md-5">
      <h4>Flight Reservation System</h4>
      <figure>
        <picture>
          <source srcset="assets/flight_reservation_system_homepage.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/flight_reservation_system_homepage_300x200.png">
        </picture>
        <p class="mt-3">
          A feature rich flight reservation system that uses a relational database for persistence.
          My group and I used Java Server Pages (JSP) to create the user interface, and JDBC to interact with the
          database. We used MySql extensively to persist relevant data. View the code <a href="https://github.com/Nick7878/Flight-Reservation-System">here!</a>
        </p>
      </figure>
    </header>

    <header class="col-md-5">
      <h4>Portfolio Site</h4>
      <figure>
        <picture>
          <source srcset="assets/portfolio_site.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/portfolio_site_300x200.png">
        </picture>
        <p class="mt-3">
          I created this portfolio site using Angular, Typescript, and Bootstrap to showcase my achievements as a developer.
          The web application is deployed and hosted using AWS Serverless S3. View the code <a href="https://github.com/Nick7878/final-portfolio-site">here!</a>
        </p>
      </figure>
    </header>
  </section>

</article>
