<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="col-md-7 mt-4 align-self-center">
      <h1 class="display-3">My Projects</h1>
      <br>
      <p class="lead">Below you will see some of the projects I have completed. some of these were school projects, while others were
        projects that I worked on in my own time. If you would like to view these projects more in depth, please visit
        my Github in the footer. More projects are on the way!</p>
    </section>
  </div>
</div>
<article class="container-fluid align-self-center">
  <section class="row mt-4 justify-content-center">
    <header class="col-md-5">
      <h4>Tic-Tac-Toe</h4>
      <figure>
        <picture>
          <source srcset="assets/tic_tac_toe.png" media="(min-width: 500px)">
          <img src="assets/tic_tac_toe_300x200.png" class="mt-3">
        </picture>
        <p class="mt-3">
          A simple game of Tic-Tac-Toe made for two players in Java. This was the first Java application I made using the Swing framework.
          View the code <a href="https://github.com/Nick7878/TicTacToe">here!</a>
        </p>
      </figure>
    </header>

    <header class="col-md-5">
      <h4>Appointment Book Application</h4>
      <figure>
        <picture>
          <source srcset="assets/appointment_book.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/appointment_book_300x200.png">
        </picture>
        <p class="mt-3">
          I created an appointment book application using Java and the Swing Framework to make taking
          appointment much easier for salon workers. This was one of the first real applications that I made in java.
          View the code <a href="https://github.com/Nick7878/AppointmentBook">here!</a>
        </p>
      </figure>
    </header>
  </section>

  <hr>

  <section class="row mt-4 justify-content-center">
    <header class="col-md-5">
      <h4>Flight Reservation System</h4>
      <figure>
        <picture>
          <source srcset="assets/flight_reservation_system_homepage.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/flight_reservation_system_homepage_300x200.png">
        </picture>
        <p class="mt-3">A standard flight reservation system that talks to a database to retrieve user information and flight data.
          My group and I used Java Server Pages(JSP) to create this, and used JDBC to help us connect to the database.
          View the code <a href="https://github.com/Nick7878/Flight-Reservation-System">here!</a>
        </p>
      </figure>
    </header>

    <header class="col-md-5">
      <h4>Portfolio Site</h4>
      <figure>
        <picture>
          <source srcset="assets/portfolio_site.png" media="(min-width: 500px)">
          <img class="mt-3 border border-dark" src="assets/portfolio_site_300x200.png">
        </picture>
        <p class="mt-3">
          I created this portfolio site using Angular, Typescript, and Bootstrap to showcase my achievements as a developer.
          The hosting is done using AWS. View the code <a href="https://github.com/Nick7878/final-portfolio-site">here!</a>
        </p>
      </figure>
    </header>
  </section>

</article>
