<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="mt-4">
      <h1 class="display-3">About Me</h1>
    </section>
  </div>
</div>

<article class="container-fluid align-self-center" id="mainContainer">

  <div class="row justify-content-center mb-5">
    <section class="col-md-7 mt-4 align-self-center">
      <p>
        My name is Nicholas Martinez, I am 22 years old and a budding software developer! I graduated Summa Cum Laude from the Rutgers University School of Arts and Sciences in May 2021.
        I started to take a great interest in Computer Science around my junior year of high school when I took an AP Computer Science
        course, and my interest has grown ever since. I have implemented many diverse applications using Java, C, Objective-C, Angular, and Typescript, which you
        can check out on my <a routerLink="/projects">Projects</a> page!
      </p>
    </section>

    <section class="col-md-2 mt-5">
      <img src="assets/profile_pic_transparent.png">
    </section>
  </div>

  <hr>

  <div class="row justify-content-center">
    <section class="col-md-2 mt-4">
      <img src="assets/mercer_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>After high school was over, I decided to get my Associate's degree at Mercer County Community College.
        My experience there was a good stepping stone for what Rutgers would be like, and the decreased workload
        allowed me to work on some pet projects and hone my skills as a programmer.</p>
    </section>
  </div>

  <hr>

  <div class="row justify-content-center mb-5">
    <section class="col-md-7 mt-4 align-self-center">
      <p>Throughout my time at Mercer, I found a part time job at a small software development company
        called Visionware Systems. I started out as a tester, and as time went on they allowed me work on their
        projects. This was incredibly helpful as it helped me gain real world experience and get a feel for
        what code bases would potentially be like at other companies. </p>
    </section>

    <section class="col-md-2 mt-4">
      <img src="assets/visionware_logo.png">
    </section>
  </div>

  <hr>

  <div class="row justify-content-center" id="projectsRow">
    <section class="col-md-2 mt-4">
      <img src="assets/rutgers_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>I graduated Summa Cum Laude from the Rutgers University School of Arts and Sciences in New Brunswick, NJ in May 2021. The Computer Science curriculum
        has a multitude of courses that I feel has greatly enriched my knowledge of Software Engineering, and has furthered my interest
        in programming as a whole. I look forward to working at great and exciting companies!
      </p>
    </section>
  </div>

</article>
