<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="mt-4">
      <h1 class="display-3">About Me</h1>
    </section>
  </div>
</div>

<article class="container-fluid align-self-center" id="mainContainer">

<!--  <div class="row pt-5 ml-4">-->
<!--    <h2>About Me:</h2>-->
<!--  </div>-->

<!--  <hr>-->

  <div class="row justify-content-center mb-5">
    <section class="col-md-7 mt-4 align-self-center">
      <p>My name is Nicholas Martinez, I am 21 years old and a programmer who is currently studying Computer Science at Rutgers University.
        I started to take a great interest in Computer Science around my junior year of high school when I took an AP Computer Science
        course, and my interest has grown ever since. I have made a good amount of applications in java, and some websites which you
        can check out on the <a routerLink="/projects">Projects</a> page!</p>
    </section>

    <section class="col-md-2 mt-2">
      <img src="assets/profile_pic_transparent.png">
    </section>
  </div>

  <hr>

  <div class="row justify-content-center">
    <section class="col-md-2 mt-4">
      <img src="assets/mercer_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>After high school was over, I decided to get my Associate's degree at Mercer County Community College.
        My experience there was a good stepping stone for what Rutgers would be like, and the decreased workload
        allowed me to work on some pet projects and hone my skills as a programmer.</p>
    </section>
  </div>

  <hr>

  <div class="row justify-content-center mb-5">
    <section class="col-md-7 mt-4 align-self-center">
      <p>Throughout my time at Mercer, I managed to find a part time job at a small software development company
        called Visionware Systems. I started out as a tester, then as time went on, they allowed me work on their
        projects. This was incredibly helpful, as it helped me gain real world experience and get a feel for
        what code bases would potentially be like at other companies. </p>
    </section>

    <section class="col-md-2 mt-4">
      <img src="assets/visionware_logo.png">
    </section>
  </div>

  <hr>

  <div class="row justify-content-center" id="projectsRow">
    <section class="col-md-2 mt-4">
      <img src="assets/rutgers_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>As of right now, I am currently attending Rutgers University in New Brunswick where I hope to get my
        Bachelor's degree in Computer Science. So far my experience here has taught me to be a great problem solver,
        and has furthered my interest in programming as a whole.</p>
    </section>
  </div>

</article>
