<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="col-md-7 mt-4 align-self-center">
      <h1 class="display-3">Welcome to my Portfolio</h1>
      <br>
      <p class="lead">Hello! My name is Nicholas Martinez and I graduated from Rutgers University with a B.S. degree in Computer Science.
        I am passionate about Software Development and have been working on numerous projects since high school. If you would like to know
        more about me, visit my <a routerLink="/biography">Biography</a> page! If you would like to see more of my skills and accomplishments,
        take a look at my <a href="/assets/Nicholas-Martinez-Resume-2021.pdf" download="Nicholas-Resume-2021.pdf">Resume.</a>
      </p>
    </section>

    <section class="col-md-1 mt-auto">
      <img src="assets/profile_pic_transparent.png">
    </section>
  </div>
</div>

<article class="container-fluid align-self-center">

  <div class="row justify-content-center">
    <section class="col-md-2 mt-4">
      <img id="github_logo" src="assets/github_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>I have worked on various interesting projects throughout my time as a developer. If you would like to know more
        about them, please visit my <a routerLink="/projects">Projects</a> page, or my Github!</p>
    </section>
  </div>
</article>
