<div class="jumbotron">
  <div class="row justify-content-center">
    <section class="col-md-7 mt-4 align-self-center">
      <h1 class="display-3">Welcome to my Portfolio</h1>
      <br>
      <p class="lead">Hello! My name is Nicholas Martinez and I am currently studying Computer Science at Rutgers University. I will
        be graduating with a B.S.C.S. degree on May 2021. I am passionate about Software Development and have been working on
        many projects since high school. If you would like to know more about me, visit my <a routerLink="/biography">Biography</a> page!</p>
    </section>

    <section class="col-md-1 mt-auto">
      <img src="assets/profile_pic_transparent.png">
    </section>
  </div>
</div>

<article class="container-fluid align-self-center">

  <div class="row justify-content-center" id="projectsRow">
    <section class="col-md-2 mt-4">
      <img src="assets/github_logo.png">
    </section>

    <section class="col-md-7 mt-4 align-self-center">
      <p>Throughout my time as a programmer, I've made various applications. If you would like to know more
        about them, please visit the <a routerLink="/projects">Projects</a> page, or go to my Github!</p>
    </section>
  </div>
</article>
